@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: ubuntu;
}

#app {
    display:grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 100vh;
}

#left-side {
    background-color: #BCF3FF;
}

#white-icon {
    color:white;
}

.circle {
    display:inline-block;
    border-radius: 50%;
    background-color:#92D0DE;
    width: 58px;
    height: 58px;
    text-align:center; line-height:58px;
}

.line {
    width: 316px;
    height: 0px;
    border: 1px solid #9F9A9A;
}

.chat-field {
    background-color: #F4EFEF;
    margin: 18px;
    height:85vh;
    overflow: scroll;
}

.send-btn {
    width: 183px;
    height: 55px;
    background: #92D0DE;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align:center; line-height:55px;
    font-size:24px;
}

.text-message {
    width: 320px;
    height: 115px;
    background: #FFFFFF;
    border-radius: 10px;
}